:root {
    --blanco: #F4F5F5;
    --negro: #202221;
    --primario: #858AE3;
    --secundario: #97DFFC;
    --gris: #757575;

    --fuente-principal: 3.8rem;
}

/* Globales */
html {
    font-size: 62.5%;
    /* background-color: var(--blanco); */
    box-sizing: border-box; /* sirve para no pasarse de las medidas */
    scroll-snap-type: y mandatory;
}
*, *:before, *:after { 
    box-sizing: inherit;
}
body {
    font-size: 16px; /* 1rem = 10px */
    font-family: 'Ubuntu', sans-serif;
    background-color: var(--blanco); /* fondo de la web */
    /* background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%); degradado */
}

/* DESIGN SYSTEM */ /* Tipografía */
h1, h2, h3 {
    text-align: center;
}

/* Botón */
.boton1 {
    background-color: var(--primario);
    color: var(--blanco);
    padding: 1rem 3rem;
    margin-top: 2rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 1rem;
    width: 90%;
    text-align: center;
    border: none;
}
.boton1:hover {
    background-color: var(--blanco);
    color: var(--negro);
    cursor: pointer;
}
@media (min-width: 768px) {
    .boton1 {
        width: auto; /* se resetea el valor */
        margin-top: 30px;
    }
}

/* Contacto */
.formulario {
    background-color: var(--secundario);
    width: min( 60rem, 100% ); /* Utiliza el valor más pequeño */ /* asiga el ancho más pequeño entre 60rem y el 100% */
    margin: 0 auto; /* centra horizontalmente con display:block */ /* Se utiliza sin padre display:flex */
    padding: 2rem;
    border-radius: 2rem;
}
.formulario fieldset {
    border: none;
}
.formulario legend {
    text-align: center;
    font: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--primario);
}
@media (min-width: 768px) {
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;
    }
    .campo:nth-child(3),
    .campo:nth-child(4) { /* seleccionas el tercero de los mismos nombres */
        grid-column: 1 / 3; /* Va desde la fila 1 a la 3 */
    }
}
.campo {
    margin-bottom: 1rem;
}
.campo label {
    color: var(--blanco);
    font-weight: 700;
    margin-bottom: .5rem;
    display: block; /* cada label toma todo el espacio disponible */

}
.campo textarea {
    height: 20rem;
}
.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem; /* para que el cuadro sea más grande */
    border: 2rem;
}
